
<div class="flex justify-center items-center">
  <form
    class="px-20 pt-40 mx-auto"
    #searchForm="ngForm"
    (ngSubmit)="search(searchForm.value)"
  >
    <div>
      <h1 class="text-5xl font-bold">Let's Search!</h1>
      <p class="py-6">
        Enter a term to search across multiple public administration
        publications.
      </p>
    </div>

    <div class="join">
      <div>
        <div>
          <input
            class="input input-bordered join-item"
            placeholder="Search term"
            type="text"
            id="searchTerm"
            name="searchTerm"
            ngModel
            required
          />
        </div>
      </div>
      <select
        class="select select-bordered w-full max-w-xs join-item"
        id="documentType"
        name="documentType"
        [(ngModel)]="selectedDocumentType"
      >
        <option *ngFor="let element of documentTypes" value="{{ element }}">
          {{ element }}
        </option>
      </select>
      <div class="indicator">
        <button class="btn join-item" type="submit">Search</button>
      </div>
    </div>

    <div class="filters"></div>
  </form>
</div>

<div class="px-20 py-10 grid grid-cols-1 gap-6 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3 ">
    <span class="loading loading-bars loading-md" *ngIf="loading"></span>

  <div *ngFor="let element of results" class="card shadow-xl">
    <div class="card-body">
      <h2 class="card-title">
        <span class="badge badge-primary badge-md">{{ element._source.publication_id }} {{
          element._source.document_number
        }}</span>
        page {{ element._source.document_page }}
      </h2>
      <p class="line-clamp-5">{{ element._source.announcement_summary }}</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Open</button>
      </div>
    </div>
  </div>


  <!--
          <option value="All">All</option>
        <option value="DOGa">DOGa</option>
        <option value="BOPA">BOPA</option>
        <option value="BOE">BOE</option>
-->

  <!--
<div *ngFor="let element of results">
  <div>
    {{ element._source.publication_id }} Nº {{ element._source.document_number }} página {{ element._source.document_page }}
  </div>
  <div>
    {{ element._source.announcement_summary }}
  </div>
</div>

--></div>
